/* custom.css */
/*.page, .post, .container {*/
/*    max-width: 400px; !* 或你需要的宽度 *!*/
/*    margin: 0 auto;*/
/*}*/

/*#content-inner {*/
/*    background-image: url('/www/wwwroot/hexo/blog/source/img/background.jpg')*/
/*}*/

